<template name='view'>
    <div class="page-header">
    </div>

    {{#each videos}}


        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src={{url}}></iframe>
        </div>
        <div class="row videoInfo">
            <h4 class='col-lg-8'>{{title}}</h4>

            <div class="col-xs-2 col-md-1 review">
                <div class="panel status panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">{{round averageScore}}</h1>
                    </div>
                    <div class="panel-body text-center">
                        {{reviewCount}} Reviews
                    </div>
                </div>

            </div>
            {{# if isInRole 'editor'}}
                <button type="button" class="btn btn-primary" id="newReview">
                    <i class="fa fa-plus"></i> Add a New Review
                </button>
            {{/if}}
        </div>

        {{#each reviews}}
            {{> review}}
        {{/each}}

    {{/each}}

</template>
