.panel-body {
    font-size: 12px;
    padding: 5px;
}

.img-responsive {
    margin-top: 8px;

}

.thumbnail-image {
    width: 320px;
    height: 180px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.video-image{
	position: absolute;
	margin: auto;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
}